.sfbgx {
    /*background-image: url("https://source.unsplash.com/collection/136095/1920x1080/daily")!important;*/
    height: 120px !important;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(255, 255, 255, 0))) !important;
    opacity: 1 !important;
	background-repeat: no-repeat !important;
    background-size: cover !important;
}
#hdtbSum {
    background: transparent !important;
}
#hdtb {
    border-bottom: 0px solid #ebebeb !important;
}
.minidiv .sfbg {
	opacity: 1 !important;
}
.gb_sc {
    background-image: url(https://i.imgur.com/1oCAQTs.png) !important;
}
.gb_uc {
    background-image: url(https://i.imgur.com/1oCAQTs.png) !important;
}
.gb_y .gb_z {
    opacity: 1 !important;
}
.minidiv .sfbg {
	/*background-image: url("https://source.unsplash.com/collection/136095/1920x1080/daily") !important;*/
	background-repeat: no-repeat !important;
    background-size: cover !important;
	
}
#sform {
    display: none !important;
}
#top_nav {
    margin-top: -75px !important;
}